body {
  font-family: -apple-system, sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.all {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.all:hover {
  cursor: pointer;
}


@media screen and (orientation: landscape) {
  p {
    font-size: 5vh;
  }
  .all {
    height: 70vh;
    width: 70vh;
  }
  .Extreme, .Precip, .Tomorrow, .Wind {
    margin: 1vh;
    border: 1vh solid;
  }
}

@media screen and (orientation: portrait) {
  p {
    font-size: 7vw;
  }
  .all {
    height: 90vw;
    width: 90vw;
  }
  .Extreme, .Precip, .Tomorrow, .Wind {
    margin: 1vw;
    border: 1vw solid;
  }
}

/* Spinner from loading.io */
.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid grey;
  border-color: grey transparent grey transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}